{{ define "body"}}
<div class="p-2 text-center">
  <h2>Here is the list of people attending the party</h2>
  <table class="table-bordered table-striped table-sm table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      {{ range . }} {{ if .WillAttend }}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Email }}</td>
        <td>{{ .Phone }}</td>
      </tr>
      {{ end }} {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
